body{
  background-color: #F9E79F;

}
.jumbotron{
  margin-top: 10px;
}
a{
  display: block;
  width: 100%;
  /*color: white;*/
  /*text-decoration: none; !important*/
}
a:hover{
  text-decoration: none;
}

.monospace {
  font-family: monospace;
  color: white;
  font-size: 40px;
}
.small {
  font-size: 20px;
  padding-bottom:5px;
}

/*input[type=text]{
  width:130px;
  -webkit-transition:width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
  width:100%;
}*/

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
